@model ExploreNowWebapplicationAPI.Models.ContactViewModel
@{
    ViewBag.Title = "Kontakta oss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontakta oss</h2>
<script src="~/Scripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
<div class=" row">
    <div class="col-md-6">
        <div>
            @if (ViewBag.Message == null)
            {

                <div>
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Name">Namn:</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-muted"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">E-post:</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-muted"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Subject">Ämne:</label>
                            <input asp-for="Subject" class="form-control" />
                            <span asp-validation-for="Subject" class="text-muted"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Message">Meddelande:</label>
                            <textarea rows="5" cols="15" asp-for="Message" class="form-control"></textarea>
                            <span asp-validation-for="Message" class="text-muted"></span>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">Skicka </button>
                        </div>

                    </form>
                    <br />
                    <a href="mailto:jk95@live.se?subject=Skickat från Explore Now">Eller skicka e-post direkt till oss</a>
                </div>

            }
        </div>

        <div>
            <div>
                @if (ViewBag.Message != null)
                {
                    <div>@ViewBag.Message</div>

                }
            </div>
        </div>
    </div>

</div>

