@section scripts {
    @Scripts.Render("~/bundles/app")
}
<script src="app.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClQVtfHOJaUG2YXyLbtbJ73Jm__81vaTU&callback=initMap">
</script>

<div class="page-header">
    @*<h1>Aktiviteter</h1>*@
</div>

@*Google Maps*@
@*<div class="panel-heading">
    <h2 class="panel-title">Google maps</h2>
</div>*@
<div id="map" style="height: 550px;"></div>


<div class="row">
    @*Befintliga aktiviteter*@
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Befintliga aktiviteter</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: activities">
                    <li>
                        <strong><span data-bind="text: CategoryName"></span></strong>: <span data-bind="text: Name"></span>
                        <small><a href="#" data-bind="click: $parent.getActivityDetail">Visa mer...</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->
    @*Detaljer om vald aktivitet*@
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detaljer om vald aktivitet</h2>
            </div>
            <table class="table">
                <tr><td>Kategori:</td><td data-bind="text: detail().CategoryName"></td></tr>
                <tr><td>Namn:</td><td data-bind="text: detail().Name"></td></tr>
                <tr><td>Beskrivning:</td><td data-bind="text: detail().Description"></td></tr>
                <tr><td>Latitud:</td><td data-bind="text: detail().Latitude"></td></tr>
                <tr><td>Longitud:</td><td data-bind="text: detail().Longitude"></td></tr>
            </table>
        </div>
    </div>

    <!-- /ko -->
    @*Lägg till aktivitet*@
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Lägg till aktivitet</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addActivity">
                    <div class="form-group">
                        <label for="inputCategory" class="col-sm-2 control-label">Kategori:</label>
                        <div class="col-sm-10">
                            <select data-bind="options:categories, optionsText: 'Name', value: newActivity.Category"></select>
                        </div>
                    </div>

                    <div class="form-group" data-bind="with: newActivity">
                        <label for="inputTitle" class="col-sm-2 control-label">Namn:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" data-bind="value:Name" />
                        </div>

                        <label for="inputDescription" class="col-sm-2 control-label">Beskrivning:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDescription" data-bind="value:Description" />
                        </div>

                        <label for="inputLatitude" class="col-sm-2 control-label">Latitud:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLatitude" data-bind="value:Latitude" />
                        </div>

                        <label for="inputLongitude" class="col-sm-2 control-label">Longitud:</label>
                        <div class="col-sm-10">
                            <input type="text" step="any" class="form-control" id="inputLongitude" data-bind="value:Longitude" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Lägg till</button>
                </form>
            </div>
        </div>
    </div>

</div>
