@section scripts {
    @Scripts.Render("~/bundles/app")
}
@*<script src="app.js"></script>*@
@*<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClQVtfHOJaUG2YXyLbtbJ73Jm__81vaTU&callback=initMap">
</script>*@

@*<script type="text/javascript">
    var map;
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(44.7866, 20.4489),
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map"),
            mapOptions);

        $.ajax({
            url: '/home/user/Desktop/markers.js',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, data) {
                    var mylatlng = new google.maps.LatLng(data.lat, data.lon);
                    // Creating a marker and putting it on the map
                    var marker = new google.maps.Marker({
                        position: mylatlng,
                    });
                    marker.setMap(map);
                });
            }
        });

    }
</script>*@
@*<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>*@




@*<script type="text/javascript">
        function initMap() {
            // The location of Uluru
            var activities = { lat: 63.1766832, lng: 14.636068099999989 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 5, center: activities });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: activities, map: map });
        }
    </script>*@

@*<script>
        var map;
        function initMap() {
            map = new google.maps.Map(
                document.getElementById('map'),
                { center: new google.maps.LatLng(-33.91722, 151.23064), zoom: 16 });

            var iconBase =
                'https://developers.google.com/maps/documentation/javascript/examples/full/images/';

            var icons = {
                parking: {
                    icon: iconBase + 'parking_lot_maps.png'
                },
                library: {
                    icon: iconBase + 'library_maps.png'
                },
                info: {
                    icon: iconBase + 'info-i_maps.png'
                }
            };

            var features = [
                {
                    position: new google.maps.LatLng(-33.91721, 151.22630),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.91539, 151.22820),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.91747, 151.22912),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.91910, 151.22907),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.91725, 151.23011),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.91872, 151.23089),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.91784, 151.23094),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.91682, 151.23149),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.91790, 151.23463),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.91666, 151.23468),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.916988, 151.233640),
                    type: 'info'
                }, {
                    position: new google.maps.LatLng(-33.91662347903106, 151.22879464019775),
                    type: 'parking'
                }, {
                    position: new google.maps.LatLng(-33.916365282092855, 151.22937399734496),
                    type: 'parking'
                }, {
                    position: new google.maps.LatLng(-33.91665018901448, 151.2282474695587),
                    type: 'parking'
                }, {
                    position: new google.maps.LatLng(-33.919543720969806, 151.23112279762267),
                    type: 'parking'
                }, {
                    position: new google.maps.LatLng(-33.91608037421864, 151.23288232673644),
                    type: 'parking'
                }, {
                    position: new google.maps.LatLng(-33.91851096391805, 151.2344058214569),
                    type: 'parking'
                }, {
                    position: new google.maps.LatLng(-33.91818154739766, 151.2346203981781),
                    type: 'parking'
                }, {
                    position: new google.maps.LatLng(-33.91727341958453, 151.23348314155578),
                    type: 'library'
                }
            ];

            // Create markers.
            for (var i = 0; i < features.length; i++) {
                var marker = new google.maps.Marker({
                    position: features[i].position,
                    icon: icons[features[i].type].icon,
                    map: map
                });
            };
        }
    </script>*@


<div class="page-header">
    <h1>Aktiviteter</h1>
</div>

@*@*Google Maps*@
<div class="panel-heading">
    <h2 class="panel-title">Google maps</h2>
</div>
<div id="map" style="height: 550px;"></div>


<div class="row">
    @*Befintliga aktiviteter*@
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Befintliga aktiviteter</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: activities">
                    <li>
                        <strong><span data-bind="text: CategoryName"></span></strong>: <span data-bind="text: Name"></span>
                        <small><a href="#" data-bind="click: $parent.getActivityDetail">Visa mer...</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->
    @*Detaljer om vald aktivitet*@
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detaljer om vald aktivitet</h2>
            </div>
            <table class="table">
                <tr><td>Kategori:</td><td data-bind="text: detail().CategoryName"></td></tr>
                <tr><td>Namn:</td><td data-bind="text: detail().Name"></td></tr>
                <tr><td>Beskrivning:</td><td data-bind="text: detail().Description"></td></tr>
                <tr><td>Latitud:</td><td data-bind="text: detail().Latitude"></td></tr>
                <tr><td>Longitud:</td><td data-bind="text: detail().Longitude"></td></tr>
            </table>
        </div>
    </div>

    <!-- /ko -->
    @*Lägg till aktivitet*@
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Lägg till aktivitet</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addActivity">
                    <div class="form-group">
                        <label for="inputCategory" class="col-sm-2 control-label">Kategori:</label>
                        <div class="col-sm-10">
                            <select data-bind="options:categories, optionsText: 'Name', value: newActivity.Category"></select>
                        </div>
                    </div>

                    <div class="form-group" data-bind="with: newActivity">
                        <label for="inputTitle" class="col-sm-2 control-label">Namn:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" data-bind="value:Name" />
                        </div>

                        <label for="inputDescription" class="col-sm-2 control-label">Beskrivning:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDescription" data-bind="value:Description" />
                        </div>

                        <label for="inputLatitude" class="col-sm-2 control-label">Latitud:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLatitude" data-bind="value:Latitude" />
                        </div>

                        <label for="inputLongitude" class="col-sm-2 control-label">Longitud:</label>
                        <div class="col-sm-10">
                            <input type="text" step="any" class="form-control" id="inputLongitude" data-bind="value:Longitude" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Lägg till</button>
                </form>
            </div>
        </div>
    </div>

</div>
